h1 {
    font-family: 'Abril Fatface', cursive;
    
}
body {
      font-family: 'Playfair Display', serif;
}
body {
    background-image: url(ecoheels.png);
    background-size: auto;
}
dl {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-stretch: expanded;
   
}
.header {
  padding: 60px;
  text-align: center;
  background: transparent;
}
body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}