dl2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
}
body {
     font-family: 'Delius', cursive;
     font-size: 12.5px;
     background-image: url(wall.jpg);
    background-size: auto;
    
}
      
h1 {
    padding: 20px;
    text-align: center;
}

.tab-wrap {
 -webkit-transition: 0.3s box-shadow ease;
 transition: 0.3s box-shadow ease;
 border-radius: 6px;
 max-width: 100%;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
 position: relative;
 list-style: none;
 background-color: transparent;
 margin: 40px 0;
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
 opacity: 1;
 -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
 transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
 transition: 0.5s opacity ease-in, 0.8s transform ease;
 transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
 position: relative;
 top: 0;
 z-index: 100;
 -webkit-transform: translateY(0px);
         transform: translateY(0px);
 text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
 opacity: 1;
 -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
 transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
 transition: 0.5s opacity ease-in, 0.8s transform ease;
 transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
 position: relative;
 top: 0;
 z-index: 100;
 -webkit-transform: translateY(0px);
         transform: translateY(0px);
 text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
 opacity: 1;
 -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
 transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
 transition: 0.5s opacity ease-in, 0.8s transform ease;
 transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
 position: relative;
 top: 0;
 z-index: 100;
 -webkit-transform: translateY(0px);
         transform: translateY(0px);
 text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
 opacity: 1;
 -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
 transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
 transition: 0.5s opacity ease-in, 0.8s transform ease;
 transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
 position: relative;
 top: 0;
 z-index: 100;
 -webkit-transform: translateY(0px);
         transform: translateY(0px);
 text-shadow: 0 0 0;
}
.tab + label {
    box-shadow: 0 -1px 0 transparent;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: black;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    text-align: center;
    background-color: rgba(76, 175, 80, 0.6);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 50px;
    box-sizing: border-box;
    padding: 15px;
   }
   .tab__content {
    padding: 10px 25px;
    background-color: rgba(76, 175, 80, 0.3);
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    border-radius: 6px;
    align-content: center;
   } 
    p1 {
        font-size: 20px;
        font-family: 'Old Standard TT', serif;
    }